<div class="container p-5">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenido a mi Tienda</h1>
    <p class="lead">Esta aplicacion esta hecha con HBS,  EXPRESS y Websockect!</p>
  </div>
  <p>Coderhouse - Curso Backend</p>
  <a class="btn btn-primary" href="/prYuser" role="button">Buscar producto</a>
</div>